{% extends "templates/web.html" %}

{% set airline_name = frappe.db.get_value("Airplane", doc.airplane, "airline") %}

{% block page_content %}
<h1>{{ title }}</h1>

<h2>Flight Details</h2>
<ul>
    <li>Airline: {{ airline_name }}</li>
    <li>{{ doc.source_airport_code }} &rarr; {{ doc.destination_airport_code }}</li>
    <li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
    <li>Duration: {{ frappe.utils.format_duration(duration) }}</li>
</ul>

<a class="btn btn-primary" href="/book-flight-ticket-web-form/new?flight={{ doc.name }}">Book Flight</a>
{% endblock %}

<!-- this is a sample default web page template -->